In [113]:
import pandas as pd
import numpy as np
import csv
import warnings
warnings.filterwarnings("ignore")

In [114]:
fields = ['qW','qX','qY','qZ','m0','m1','m2','m3','c0','c1','c2','c3','tim0','time1','time2']

In [115]:
df = pd.read_csv(r'BOUNCYDRONE.txt',names=fields)

In [116]:
df['qW'] = df['qW'].str.replace('[','')
df['time2'] = df['time2'].str.replace(']','')

In [117]:
df

      qW   qX   qY   qZ  m0  m1  m2  m3   c0   c1  c2   c3  tim0  time1 time2
0    225  127  126  209   0   0   0   0  127  127   0  127   218     12     0
1    225  127  126  209   0   0   0   0  127  127   0  127   223     12     0
2    225  127  127  209   0   0   0   0  127  127   0  127   240     12     0
3     29  127  127   45   0   0   0   0  127  127   0  127     4     13     0
4    225  127  127  209   0   0   0   0  127  127   0  127    23     13     0
..   ...  ...  ...  ...  ..  ..  ..  ..  ...  ...  ..  ...   ...    ...   ...
359  115  176   11  113   0   0   0   0  127  127   0  127   212     40     0
360  115  173   10  113   0   0   0   0  127  127   0  127   232     40     0
361  114  171    9  113   0   0   0   0  127  127   0  127   252     40     0
362  114  168    8  114   0   0   0   0  127  127   0  127    16     41     0
363  114  166    7  114   0   0   0   0  127  127   0  127    36     41     0

[364 rows x 15 columns]